@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600|Source+Code+Pro&display=swap');
body {
	font-family: 'Baloo Chettan 2', 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 500;
  background: #F0F2F5;
}
button:focus { outline: none !important; }
a { cursor: pointer !important; }
a:hover { border: none !important; }
a:focus { border: none !important; outline: none !important; text-decoration: none !important; }
.pointer { cursor: pointer; }
.text-lg { font-size: 1.5rem; }
.rounded-circle { border-radius: 50%; }
.rounded { border-radius: 5px; }

.rounded-tag {
  border-color: transparent;
  background: #f2f2f2;
  padding: 4px 8px;
  border-radius: 20px;
}

.ant-slider-handle { transition: 1.5s ease all !important; }
.ant-slider-track { transition: 1.5s ease all !important; }
.ant-slider-handle { 
  width: 10px !important;
  height: 10px !important;
  margin-top: -3px !important;
  border: none !important;
  background: #4661a3 !important;
}
.ant-slider-track { background: #4661a3; }
.ant-slider-rail { background: #DDD; }
.nav-tabs .nav-link { border: none; }
.font-regular { font-weight: 400; }
.font-semi-bold { font-weight: 600; }
.source-code-pro { 
	font-family: 'Source Code Pro' 
}
.letter-spacing-3 { letter-spacing: 0.3em; }

.card-custom {
  overflow: hidden;
  background: white;
  box-shadow: 0 5px 10px rgba(190,190,190,0.5);
}

.card-custom > img {
  width: 100%;
  object-fit: cover;
}

.card-custom h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-custom p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-custom .card-custom-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-custom-infos .card-custom-user {
  /*position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;*/
}

.playlist-play-btn {
  border: none;
  padding: 10px 15px;
  background: none;
  /*background: radial-gradient(#ababab, transparent);*/
  border-radius: 50%;
}
.playlist-play-btn:hover {
  transform: scale(1.2);
  transition: ease all 0.5s
}
.track-play-btn {
  border: none;
  padding: 10px 15px;
  background: none;
  /*background: radial-gradient(#ababab, transparent);*/
  border-radius: 50%;
}
.track-play-btn:hover {
  transform: scale(1.2);
  transition: ease all 0.5s
}

.playlist-track {
	background: white;
    padding: 10px;
    /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
}
.playlist-artist {
	font-size: 8px;
	background: white;
}
.playlist-track-details p {
	font-size: 14px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.nav-tabs { background: #4661a3;
    border-radius: 5px; }
.my-tabs-link:hover {
  border-color: none !important;
}
.my-tabs {
  margin-bottom: -1px;
  min-width: 90px;
  padding-bottom: 5px;
}
.tab-active {
  min-width: 90px !important;
  background: #4661a3;
  border-radius: 5px;
}

.border-bottom-black {
  border-bottom: 2px solid black;
}

.text-md { font-size: 16px; }
.text-sm { font-size: 12px; }
.text-gray { color: #DDD; }
.text-player-gray { color: #7E7E7E; }
.text-blue { color: #4661a3; }
.text-dark-gray { color: #343434 !important; }

.track-playing { background: red; }
.track-list {
  box-shadow: inset 0px 6px 17px -8px #dbdbdb;
  padding: 10px;
  background: white;
}

.track-item-enter {
  opacity: 0;
}
.track-item-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.track-item-exit {
  opacity: 1;
}
.track-item-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}


.player-icon { 
  color: #4661a3;
  font-size: 30px;
}
.player-close {
  font-size: 12px;
  position: absolute;
  right: 0;
  padding: 10px;
}