@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600|Source+Code+Pro&display=swap');
body {
	font-family: 'Baloo Chettan 2', 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 500;
}
.font-regular { font-weight: 400; }
.font-semi-bold { font-weight: 600; }
.source-code-pro { 
	font-family: 'Source Code Pro' 
}
.letter-spacing-3 { letter-spacing: 0.3em; }